body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, section, footer {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 10px 0;
}

header {
    background-color: #f4f4f4;
    text-align: center;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul li {
    margin: 5px 0;
}
a{
    color: black;
    margin: auto 10px;
}

img {
    display: block;
    margin: 10px auto;
}


@media (max-width: 400px){
    header, section, footer {
        padding: 10px;
        max-width: 94%;
    }
}
@media (max-width: 600px) {
    header, section, footer {
        padding: 10px;
        width: 100%;
    }

    img {
        width: 150px;
        height: 150px;
    }
}
